<h1>All Users Page</h1>
<div class="users-container">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="image-grid">
        <% if user.photo.present? %>
          <img src="<%= user.photo %>" alt="<%= user.name %>'s photo" width="100rem" height="100rem">
        <% else %>
          <h2>No image present</h2>
        <% end %>
      </div>
      <div class="user-details">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
</div>
