/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.user-container,
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card,
.post-card {
  background-color: #fff;
  width: 450px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-grid,
.image-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid img,
.image-container img {
  border-radius: 50%;
  border: 3px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.user-details,
.post-details {
  text-align: center;
}

.bio {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  margin-top: 10px;
  width: 100%;
  background-color: #3091c8;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #216a94;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.like-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.comment-button {
  background-color: #007bff; /* Blue color, you can adjust */
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.single-post {
  background-color: #fff;
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.comments-container {
  text-align: left;
}

.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  cursor: text;
  color: #495057;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.comment-container {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
}

.btn-delete {
  width: max-content;
}